.commentsWrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.commentContainer {
  margin: 0px 0px 10px 0px;
  padding: 8px;
}

.commentHead {
  margin-bottom: 8px;
}

.replyContainer {
  margin-top: 8px;
}

.childComments {
  margin-left: 16px;
  padding-left: 8px;
}

.buttonText {
  font-weight: 500;
}
